<app-upload-modal 
  *ngIf="openModal" 
  [openModal]="openModal" 
  (close)="closeModal()">
</app-upload-modal>
<div class="container" [style.opacity] = "opacity()" >
    
    <div class="actions">
        <div class="add-button" (click)="showModal()" >
          <i class="pi pi-plus" style="font-size: 1.0rem"></i>
          Add new
        </div>
        <div class="search">
          <form>
            <input type="search" placeholder="Search">
          </form>
          <i class="pi pi-search" style="font-size: 0.9rem"></i>
        </div>
      </div>
</div>