@import "primeicons/primeicons.css";
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
}
.actions{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    color: black;
    padding: 10px;
    box-sizing: border-box;
}
.add-button{
    border: none;
    display: flex;
    background-color: black;
    padding: 0px 15px;
    font-weight: 700;
    font-size: 0.9rem;
    gap: 10px;
    color: white;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    opacity: 0.89;

}
.add-button:hover{
    background-color: rgb(47, 47, 56);
}
.search{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 0px;
    box-sizing: border-box;
    border: 2px solid rgb(228, 226, 226);
    border-radius: 5px;
    opacity: 0.89;
    cursor: pointer;    

}
.search input{
    border: none;
    background-color: white;
    padding: 10px 25px 10px 15px;
    font-weight: 500;
    outline: none;
    color: black;
    box-sizing: border-box;
}