@import "primeicons/primeicons.css";

.upload-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: whitesmoke;
    border: 2px solid rgb(228, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
}

.pi-times {
    font-size: 0.95rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(54, 50, 50);
}

.title {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20px;
    color: rgb(54, 50, 50);
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.input label {
    font-size: 0.85rem;
    margin: 5px 0 2px;
    color: black
}

.input input[type="text"] {
    
    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px;
    color: rgb(70, 67, 67);
    font-size: 14px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    outline: none;
    border-color: rgb(194, 191, 191);
}

.input input[type="text"]:focus {
    outline: none;
    border-color: rgb(107, 103, 103);
}

/* File input */
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.file-input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.file-input:focus {
    outline: none;
    border-color: #0056b3;
}

.file-input::-webkit-file-upload-button {
    background-color: rgb(6, 149, 206);
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.submit {
    padding: 10px 20px;
    background-color: rgb(6, 149, 206);
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit:hover {
   background-color: rgb(6, 149, 206);;
    color: white;
}
.textarea {
    
    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px;
    color: rgb(70, 67, 67);
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 80px;
    resize: vertical;
    transition: border-color 0.3s ease;
    line-height: 1.5;
    vertical-align: top;
}

.textarea:focus {
    outline: none;
    border-color: rgb(6, 149, 206);
}
